# Auto detect text files and perform LF normalization
*        text=auto

*.py     text eol=lf
*.sql    text eol=lf
*.xml    text eol=fl
*.c      text eol=fl
*.cpp    text eol=fl
*.cmd    text eol=fl
*.md     text eol=fl
*.debug  text eol=fl
Makefile text eol=fl
