<?xml version="1.0" ?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python"
           path="*.py"
           verb="*"
           modules="CgiModule"
           scriptProcessor="D:\Python\python.exe %s %s"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="150000000"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="tunnel.py" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="150000" executionTimeout="1800" />
  </system.web>
</configuration>
